footer{
    height: 60px; width: 100%;
    background: white;
    border-top: 1px solid #CCCCCC;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center
}